
html,
body {
  height: 100%;
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
}

footer {
  bottom: 80px;
  left: 10px;
  position: absolute;
  width: 80%;
}

.ingredients-list {
  width: 50%;
}

.ingredients-list > input,
.ingredients-list > label {
  display: block;
  float: left;
}

.ingredients-list > input,
.new-ingredients {
  clear: left;
}
